.theend {
  background-color: rgba(117, 117, 117, 0.478);
  display: flex;

  flex-direction: column;
}
.theend-h1 {
  margin: 1rem 1rem 0 1rem;
  text-align: center;
  font-size: 12px;
}
.theend-social {
  display: flex;
  margin: 1rem 0 1rem 0;
  justify-content: center;
  gap: 2rem;
  font-size: 30px;
}
.facebook:hover {
  cursor: pointer;
  color: rgb(46, 72, 157);
}
.instagram:hover {
  cursor: pointer;
  border-radius: 200px;
  color: #fff;
  /* background: linear-gradient(
      154deg,
      rgba(203, 3, 200, 1) 0%,
      rgba(17, 0, 212, 1) 9%,
      rgba(238, 130, 238, 1) 100%
    ); */
}
.twitter:hover {
  cursor: pointer;
  color: rgb(48, 99, 219);
}
.youtube:hover {
  cursor: pointer;
  color: red;
}
.span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
