.blogdetails {
  padding: 2rem;
  display: flex;
  height: 100vh;

  &-details {
    img {
      width: 300px;
      height: auto;
      margin-top: 1rem;
    }
    &-text {
      display: flex;
      flex-flow: column wrap;
      margin-top: 2rem;
      &-time {
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
      }
      &-title {
        color: red;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
.smallscreen-blog {
  min-height: 125vh;
}
@media screen and (max-width: 500px) {
  .smallscreen-blog {
    min-height: 170vh;
  }
}
